:root {
    --darkBlue: #14213d;
    --BGWhite: #f9f9f9;
    --HLBronze: #cd7749;
    --HLOrange: #fca311;
    --blueText: #596a8d;
    --white: #fff;
    --black: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--BGWhite);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* GLOBAL ELEMENTS STYLING */
section {
    height: 87.5vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--BGWhite);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

section::-webkit-scrollbar {
    display: none;
}



/* NAV BAR STYLING */
header {
    background-color: var(--darkBlue);
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    background: transparent;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoIMG {
    width: 50px; 
    height: 40px;
}

.navLink {
    background: transparent;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.navLink:hover{
    color: var(--HLBronze);
}

.navLink:focus {
    outline: none;
}



/* NAVIGATION DISPLAY CLASSES */

.active {
    display: flex;
}

.inactive {
    display: none;
}

.navHighlight {
    color: var(--HLBronze);
}



/* HERO PAGE STYLING */

#heroTopContainer {
    width: 100vw;
    height: 55%;
    background: url("../img/heroPageBackground.jpg") no-repeat center;
    background-size: 100vw auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

#heroImgTextContainer {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    align-items: left;
}

#heroTitle {
    font-size: 3em;
    color: white;
    font-weight: bold;
}

#heroDescription {
    font-size: 2em;
    color: white;
}

#heroTextContainer {
    height: 45%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.heroTextBox {
    width: 90%;
    height: 80%;
    background-color: var(--darkBlue);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.heroTextTitle {
    color: var(--HLBronze);
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 10px;
}

.heroTextContent {
    padding: 0px 10px;
}

.textDivider {
    display: none;
    padding: 0px;
    margin: 0px;
}

.mediumTextContent {
    display: none;
    padding: 0px 10px;
}


/* CALENDAR PAGE STYLING */

#calendarContainer {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;    
}

.calendarBox{
    place-self: center;
    width: 160px;
    height: 160px;
    background-color: var(--darkBlue);
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.monthTitle {
    color: var(--HLBronze);
    margin: 0px;
    padding-bottom: 10px;
}

.yearTitle {
    color: var(--white);
    margin: 0px;
}

.calendarBoxBtn {
    background: transparent;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0px;
}

#calendarInfoContainer {
    height: 30%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    place-self: center;
}

.calendarInfoBox {
    width: 92.5%;
    height: 200px;
    background-color: var(--darkBlue);
    border-radius: 4px;
    place-self: center;
}

.calendarInfoTitle {
    color: var(--HLBronze);
    padding-left: 20px;
}

.calendarInfoList {
    color: var(--white);
}


/* RESEARCH TOPICS STYLING */
#researchPage {
    overflow-x: visible;
    overflow-y: scroll;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80%;
}

.selectionContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--darkBlue);
    color: var(--white);
    max-height: 200px;
    margin: 10px;
    border-radius: 0px 4px 4px 0px;
}

.selectIMG {
    width: 30%;
    height: 100%;
    background-color: white;
}

.selectDescription {
    padding: 0px 10px;
    width: 70%;
}

.selectTitle {
    font-size: 1.2em;
    text-align: left;
    color: var(--HLBronze);
}

.selectTopicDescription {
    font-size: 1em;
}

.selectContainerBtn {
    background: transparent;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
}

/* TEST KNOWLEDGE PAGE STYLING */
#knowledgePage {
    overflow-x: visible;
    overflow-y: scroll;
}


/* TOOLBOX PAGE STYLING */
#toolboxPage {
    overflow-x: visible;
    overflow-y: scroll;
}

/* FOOTER STYLING */
footer {
    width: 100%;
    height: 7.5vh;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyrightTag {
    margin: 0;
    margin-top: 10px;
    color: white;
    font-size: 0.75em;
}

/* MEDIA QUERIES */

@media(min-width: 768px) and (max-width: 1280px) {
    /* HERO TEXT, SECTION CONTAINERS, CALENDAR BOXES */
    #heroTopContainer {
        height: 55%;
    }
    
    #heroImgTextContainer {
        width: 80%;
        height: 50%;
    }

    #heroTextContainer {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }

    .heroTextContent {
        display: none;
    }

    .mediumTextContent {
        display: initial;
    }

    .textDivider {
        display: initial;
    }

    /* #calendarContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .gridWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 80%;
    }*/

}